/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* reset end */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: block;
    width: 1400px;
    height: 100%;
    margin: auto;
}

.clearfix:after {
    display: block;
    content: " ";
    clear: both;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.services-content, .our-portfolio-content, .about-us-content, .our-team-content, .partners-content, .contact-us-content, .footer-content {
    width: 940px;
    margin: 120px auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.title {
    text-transform: uppercase;
}

.title-discr {
    color: #777777;
    margin-bottom: 80px;
}

/* Header styles*/


.header {
    position: relative;
    height: 700px;
    margin: auto;
    background: url('http://u.cubeupload.com/Stegur/headermin.jpg') no-repeat;
    color: white;
}

.header-content {
    position: relative;
    width: 940px;
    margin: auto;
    padding-top: 50px;
}

/* Nav styles */


.logo {
    float: left;
}

.logo a {
    color: #fed136;
}

.menu ul {
    display: inline-block;
    float: right;
}

.menu ul li {
    display: inline;
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
}

.menu ul li a {
    color: white;
}

.menu ul li a:hover {
    color: #fed136;
}

/* Header-main-content Styles */

.header-main-content {
    margin-top: 205px;
    text-align: center;
}

.main-welcome {
    margin: 50px 0 60px 0;
    text-transform: uppercase;
}

.button {
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    color: #fed136;
    cursor: pointer;
}


main {
    display: block;
}

/* Services styles */


.e-commerce, .responsive-web, .web-security {
    display: inline-block;
    width: 33%;
}

.service-types-discr {
    color: #777777;
}

/* Our Portfolio Stylees */


.our-portfolio {
    background-color: #f7f7f7;
}

.project {
    display: inline-block;
    width: 33%;
    background-color: white;
}

.project-discr {
    color: #777777;
}

/* About Us Styles */


.step {
    position: relative;
}

.step-img {
    display: inline-block;
    width: 185px;
    height: 185px;
    background-color: lightgray;
    border: 5px solid #f1f1f1;
    border-radius: 50%;
}

.step-discr-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    text-align: right;
}

.step-discr-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    text-align: left;
}

.step-title {
    font-weight: bold;
    text-transform: uppercase;
}

.step-title span {
    display: block;
    margin: 10px 0;
    text-transform: capitalize;
}

.step-discr {
    color: #777777;
}

.separator {
    display: inline-block;
    height: 100px;
    margin: -5px auto;
    border-left: 2px solid #f1f1f1;
}

.our-story {
    display: inline-block;
    width: 185px;
    height: 185px;
    color: white;
    text-transform: uppercase;
    background-color: orange;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
}

.our-story span {
    display: block;
}

/* Our Team Styles */


.our-team {
    background-color: #f7f7f7;
}

.team-member {
    display: inline-block;
    width: 30%;
}

.member-img {
    display: inline-block;
    width: 225px;
    height: 225px;
    background-color: black;
    border-radius: 50%;
}

.soc-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}

.our-team-discr {
    display: inline-block;
    width: 650px;
}

/* Partners Styles */


.partners {
    margin: 60px 0;
}

.partner-img {
    display: inline-block;
    width: 20%;
    height: 50px;
    background-color: gray;
}
